[Unit]
Description=Mount unit for gnome-3-34-1804, revision 24
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-3-34-1804_24.snap
Where=/snap/gnome-3-34-1804/24
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
