[Unit]
Description=Mount unit for snap-store, revision 454
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/snap-store_454.snap
Where=/snap/snap-store/454
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
