[Unit]
Description=Mount unit for gtk-common-themes, revision 1506
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gtk-common-themes_1506.snap
Where=/snap/gtk-common-themes/1506
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
